.variant-primary {
    width: 73px;
    height: 32px;
    background: #6A6E74;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.variant-primary:hover {
    background: #292D32;
}

.variant-primary:focus {
    background: #6A6E74;
    box-shadow: 0 0 0 2px #D7DCFF;
}

.variant-primary:disabled {
    background: #C4C4C4;
}

.variant-danger {
    width: 73px;
    height: 32px;
    background: #FF4F4F;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.variant-danger:hover {
    background: #EB0404;
}

.variant-danger:focus {
    background: #FF4F4F;
    box-shadow: 0 0 0 2px #D7DCFF;
}

.variant-danger:disabled {
    background: #C4C4C4;
}

.variant-text {
    width: 48px;
    height: 18px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #6A6E74;
    background: transparent;
    cursor: pointer;
    padding: 2px 4px;
    border-radius: 4px;
}

.variant-text:hover {
    color: #292D32;
}

.variant-text:focus {
    color: #6A6E74;
    box-shadow: 0 0 0 2px #D7DCFF;
}

.variant-text:disabled {
    color: #C4C4C4;
}

.variant-icon {
    position: relative;
    cursor: pointer;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.icon {
    width: 100%;
    height: 100%;
    fill: #6A6E74;
}

.icon:hover {
    fill: #292D32;
}

.variant-icon:focus {
    box-shadow: 0 0 0 2px #D7DCFF;
}

.variant-icon:focus .icon {
    fill: #6A6E74;
}

.button-small {
    width: 16px;
    height: 16px;
}

.button-medium {
    width: 24px;
    height: 24px;
}

.button-large {
    width: 40px;
    height: 40px;
}

.hasIcon {
    margin-right: 6px;
    width: 14px;
    height: 14px;
}

.variant-dashed {
    position: relative;
    width: 160px;
    height: 32px;
    border-radius: 8px;
    color: #6A6E74;
    background: #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    border: 1px dashed #6A6E74;
}

.variant-dashed:hover {
    color: #292D32;
    border: 1px dashed #292D32;
}

.variant-dashed:hover .hasIcon {
    fill: #292D32;
}

.variant-dashed:focus {
    color: #6A6E74;
    border: 1px dashed #6A6E74;
    box-shadow: 0 0 0 2px #D7DCFF;
}

.variant-dashed:focus .hasIcon {
    fill: #6A6E74;
}

.variant-dashed:disabled {
    color: #C4C4C4;
}

.fluid {
    min-width: 100%;
}
