.card {
    max-width: 441px;
    min-width: 343px;
    max-height: 100%;
    left: 20px;
    top: 20px;
    background: #FFF8D4;
    border-radius: 8px;
    padding: 16px 24px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.cardTitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #535559;
}

.wrapperButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.popoverWrapper {
    position: relative;
}

.cardText {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6A6E74;
    margin-bottom: 16px;
    word-break: break-all;
}

.done .cardText {
    text-decoration: line-through;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardColorWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
