.checkboxContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 2px transparent;
}

.checkboxInput {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.checkboxLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: inherit;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    position: relative;
    padding: 0px;
    margin-right: 8px;
}

.checkboxIcon {
    width: 14px;
    height: 16px;
    fill: #FFFFFF;
    opacity: 0;
}

.checkboxText {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8A8E97;
}

.checkboxContainer:hover .checkboxLabel {
    border: 1px solid #292D32;
}

.checkboxContainer:hover .checkboxText{
    color: #8A8E97;
}

.checkboxContainer:focus-within {
    box-shadow: 0px 0px 0px 2px #D7DCFF;
}

.checkboxInput:checked + .checkboxLabel {
    background-color: #292D32;
    border: 1px solid #292D32;
    box-shadow: 0px 0px 0px 2px transparent;
}

.checkboxInput:checked + .checkboxLabel .checkboxIcon {
    opacity: 1;
}

.checkboxInput:checked + .checkboxLabel + .checkboxText {
    color: #292D32;
}